<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block page-content %}
<head>
    <title>PlortShop.Zz</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/sections.css' %}">
</head>
<body>
    <div class="sect">
        <table class="outer">
            <tr>
                <td>
                    <table class="selectmenu">
                        <tr>
                            <td><a href="{% url 'company_form' %}">New company</a></td>
                        </tr>
                    </table>
                </td>
                <td>
                    {% for company in companies %}
                        <tr class="content">
                            <td>{{ company }}</td>
                        </tr>
                    {% empty %}
                        <tr class="content">
                            <td>
                                <div class="empty_base">
                                    <h4>There are no companies</h4>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
</body>
{% endblock %}