<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block page-content %}
<head>
    <title>PlortShop.Zz</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <div class="sect">
        <form class="form" method="post">
            {% csrf_token %}
                <h3 class="title">New company</h3>
                <table class="content_form">
                    <tr>
                        <td>{{ forms.name.label_tag }}</td>
                        <td>{{ forms.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ forms.website.label_tag }}</td>
                        <td>{{ forms.website }}</td>
                        {% if forms.error_class %}
                            <li>{{ forms.error_class }} {{ forms.errors|join:", " }}</li>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ forms.description.label_tag }}</td>
                        <td>{{ forms.description }}</td>
                    </tr>
                    <tr>
                        <td>{{ forms.industry.label_tag }}</td>
                        <td>{{ forms.industry }}</td>
                    </tr>
                    <tr>
                        <td>{{ forms.comments.label_tag }}</td>
                        <td>{{ forms.comments }}</td>
                    </tr>
                </table>
            <input class="submit" type="submit" value="Enter">

        </form>
    </div>
</body>
{% endblock %}