table.outer{
    border: 1px solid rgba(97, 100, 107, 0.6);
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    /*margin-bottom: 10px auto;*/
    /*display: flex;*/
}
table a{
    margin: 2px 7px 7px 2px;
    /*padding: ;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 100% content-box;*/
    /*margin-bottom: 10px;*/
    width: auto;
}

/*.selectmenu{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100% content-box;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.content{*/
/*    margin: 7px;*/
/*}*/